Repository asimonDLT/cursor-rules: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdc-line-limit, tool-registry-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mdc-line-limit
        name: MDC File Line Limiter
        entry: uv run python scripts/lint_mdc.py
        language: system
        files: \.mdc$
        exclude: ^\.cursor/rules/docs/
        pass_filenames: true
      - id: tool-registry-lint
        name: Tool Registry Linter
        entry: uv run python scripts/lint_tool_registry.py
        language: system
        files: ^scripts/tool_registry\.json$
        pass_filenames: true

feat: complete role library linting system with comprehensive validation
  .cursor/rules/backend/backend.mdc
  .cursor/rules/roles/data_analyst.mdc
  README.md
  scripts/lint_role_library.py
  scripts/role_library.json
  tests/test_create_domain_rule.py
  tests/test_create_role.py
  tests/test_lint_role_library.py
  tests/test_lint_tool_registry.py
  tests/test_validate_domains.py
Due: mdc-line-limit

feat: implement v2.5 architecture with metadata-driven governance and three-bucket organization
  .cursor/rules/docs/design_spec.mdc
  .cursor/rules/docs/prd.mdc
  .cursor/rules/domains/backend/backend.mdc
  .cursor/rules/domains/backend/containers.mdc
  .cursor/rules/domains/backend/database.mdc
  .cursor/rules/domains/backend/mcp.mdc
  .cursor/rules/domains/backend/python.mdc
  .cursor/rules/domains/cloud/aws.mdc
  .cursor/rules/domains/core/core.mdc
  .cursor/rules/domains/docs/markdown.mdc
  .cursor/rules/domains/frontend/typescript.mdc
  .cursor/rules/domains/martech/marketing_analytics.mdc
  .cursor/rules/roles/executive/cmo.mdc
  .cursor/rules/roles/executive/cto.mdc
  .cursor/rules/roles/specialist/data_analyst.mdc
  .cursor/rules/roles/specialist/data_engineer.mdc
  .cursor/rules/roles/specialist/qa_lead.mdc
  .cursor/rules/roles/specialist/security.mdc
  .cursor/rules/tools/role_library.json
  .cursor/rules/tools/tool_registry.json
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  scripts/create_domain_rule.py
  scripts/create_role.py
  scripts/lint_role_library.py
  scripts/migrate_roles.py
  scripts/templates/domain_rule.mdc.template
  scripts/templates/executive_role.mdc.template
  scripts/templates/specialist_role.mdc.template
  scripts/tool_registry.json
  scripts/validate_domains.py
  tests/test_create_domain_rule.py
  tests/test_create_role.py
Due: mdc-line-limit, tool-registry-lint

docs: add comprehensive documentation domain files
  .cursor/rules/domains/docs/design_spec.mdc
  .cursor/rules/domains/docs/prd.mdc
Due: mdc-line-limit

fix: update pre-commit hook to exclude docs files from line limit validation
  .pre-commit-config.yaml
Due: none

feat: comprehensive architecture reorganization and Salesforce integration
  .cursor/rules/domains/backend/sf_dev.mdc
  .cursor/rules/roles/specialist/salesforce_architect.mdc
  .cursor/rules/tools/role_library.json
  .cursor/rules/tools/tool_registry.json
  .pre-commit-config.yaml
  README.md
  scripts/SCRIPTS_OVERVIEW.md
  scripts/__init__.py
  scripts/backup/BACKUP_MANAGEMENT.md
  scripts/backup/role_library.json.backup
  scripts/domains/DOMAIN_SCRIPTS_GUIDE.md
  scripts/domains/__init__.py
  scripts/domains/create_domain_rule.py
  scripts/domains/validate_domains.py
  scripts/roles/ROLE_SCRIPTS_GUIDE.md
  scripts/roles/create_role.py
  scripts/roles/lint_role_library.py
  scripts/roles/migrate_roles.py
  scripts/tools/TOOL_REGISTRY_GUIDE.md
  scripts/tools/lint_tool_registry.py
  scripts/validation/VALIDATION_GUIDE.md
  scripts/validation/lint_mdc.py
  templates/TEMPLATES_GUIDE.md
  templates/domains/DOMAIN_CREATION_GUIDE.md
  templates/domains/domain_creation_template.json
  templates/domains/domain_rule.mdc.template
  templates/domains/enhanced_domain_rule.mdc.template
  templates/domains/example_domain_override.json
  templates/roles/executive_role.mdc.template
  templates/roles/specialist_role.mdc.template
  templates/tools/README.md
  tests/conftest.py
  tests/test_create_domain_rule.py
  tests/test_validate_domains.py
  tool_registry.json
Due: mdc-line-limit

docs: add Salesforce documentation standards
  .cursor/rules/domains/docs/salesforce_documentation.mdc
Due: mdc-line-limit

feat: comprehensive codebase improvements for cursor rules system
  .cursor/rules/tools/role_library.json
  IMPROVEMENTS.md
  cursor_rules_config.json
  pyproject.toml
  scripts/common/__init__.py
  scripts/common/config.py
  scripts/roles/create_role.py
  scripts/roles/create_role_v2.py
  scripts/setup.py
Due: none

feat: add new executive and specialist roles with updated tool registry
  .claude/settings.local.json
  .cursor/rules/domains/backend/backend.mdc
  .cursor/rules/roles/executive/director_marketing.mdc
  .cursor/rules/roles/executive/principal_talent_architect.mdc
  .cursor/rules/roles/executive/seo_director.mdc
  .cursor/rules/roles/specialist/content_strategy_specialist.mdc
  .cursor/rules/roles/specialist/senior_data_engineer.mdc
  .cursor/rules/roles/specialist/senior_magento_php_developer.mdc
  .cursor/rules/roles/specialist/seo_data_analyst.mdc
  .cursor/rules/roles/specialist/technical_seo_manager.mdc
  .cursor/rules/tools/role_library.json
  .cursor/rules/tools/tool_registry.json
  CLAUDE.md
  scripts/roles/role_template.json
Due: mdc-line-limit

feat: change default role type from Agent Requested to Manual
  templates/roles/executive_role.mdc.template
  templates/roles/specialist_role.mdc.template
Due: none
